<!--
FILE: views/homepage.ejs

DESCRIPTION: Generates the homepage with the site description
and list all categories with 4 items in each categories.

CREATED BY: Michael
-->
<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
</head>

<body>
    <%- include('partials/navbar', {search:"", category : 0}) %>

        <!-- Header for the homepage that contains the Site Description -->
        <div class="container-fluid" id="homeContainer">
            <div class="container">
                <div class="border border-4 border-dark p-3 mb-2 bg-dark text-white rounded-3" id="homeHeader">
                    <h1 class="text-center">Buy, Sell, and Exchange On GatorTrade!<br>
                    </h1>
                </div>
            </div>
        </div>

        <div class="container-fluid" id="homepageCategory">
            <div class="container">
                <!-- Iterate and create a new row for each category-->
                <% for(var j=0; j < Categories.length; j++){%>
                    <!-- numOfItems keeps count of how many items are already displayed in each category -->
                    <% var numOfItems=0%>
                        <!-- Clicking on each individual categories will take Users to that particular search results page-->
                        <a href="/results?category=<%=Categories[j].idCategories%>&search=">
                            <h1 class="text">
                                <%=Categories[j].title%>
                            </h1>
                        </a>
                        <div class="row row-cols-1 row-cols-md-4 g-4">
                            <!-- Iterate and displays a total of 4 items for each category -->
                            <% for(var i=0; i < Items.length; i++){%>
                                <% if(Items[i].category==Categories[j].idCategories){%>
                                    <div class="col">
                                        <!-- <div class="card h-100" style="width: 18rem;">
                            TO DO: Link Individual Item's Detail Page to HREF
                            <a href="#"><img src="<%=Items[i].photopath%>" class="card-img-top" alt="..."></a>
                            <div class="card-body">
                                <h5 class="card-title"><%=Items[i].title%></h5>
                                <p class="card-text"><%=Items[i].description%></p>
                            </div>
                                <div class="card-footer">
                                    <h3 class="text"><b>$<%=Items[i].price%></b></h3>
                                </div>
                        </div> -->
                                        <div class="card h-100" style="width: 18rem;">
                                            <a href="/dp?id=<%=Items[i].idItems%>"><img src="<%=Items[i].photopath%>"
                                                    class="card-img-top" alt="..."></a>
                                            <div class="card-body">
                                                <h5 class="card-title">
                                                    <%=Items[i].title%>
                                                </h5>
                                                <p class="card-text">
                                                    <%=Items[i].description%>
                                                </p>
                                                <!-- <span class="border border-primary rounded-2 px-4 pv-2 fs-5">$<%=Items[i].price%></span> -->
                                            </div>
                                            <div class="card-footer">
                                                <h3 class="text"><b>$<%=Items[i].price%></b></h3>
                                            </div>
                                        </div>
                                    </div>
                                    <% numOfItems++%>
                                        <% }%>
                                            <!-- Exits the for loop after displaying 4 items in this category -->
                                            <% if(numOfItems==4){%>
                                                <% break%>
                                                    <%}%>
                                                        <%}%>
                        </div>
                        <%}%>
            </div>
        </div>
        <%- include('partials/footer') %>

            <script src="/javascripts/bootstrap.bundle.js"></script>
            <script src="/javascripts/search.js"></script>
</body>