<!--
FILE: views/itemsDetailPage.ejs

DESCRIPTION: Generates an item's detail page. Information includes title,
             seller, price, category and photo of item. The page also includes
             a message button for buyers to send a one-way message.
-->
<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
</head>

<body>
    <%- include('partials/navbar') %>

        <!-- Header for the homepage that contains the Site Description -->

        <div class="container-fluid" id="itemsDetailPage">
            <div class="row">
                <div class="col ms-5">
                    <div class="card ms-5" style="width: 30rem">
                        <img src="<%=Item[0].photopath%>" class="card-img-bottom" alt="...">
                    </div>
                </div>
                <div class="col">
                    <div class="clearfix">
                        <p style="font-size:40px"><strong>
                                <%=Item[0].title%>
                            </strong><br></p>
                        <p>$<%=Item[0].price%><br></p>
                        <p><strong>About This Item:</strong><br>
                            <%=Item[0].description%>
                        </p>
                        <!-- Begin HTML for Messages Modal -->
                        <button type="submit" class="btn btn-primary" data-bs-toggle="modal"
                            data-bs-target="#messageModal">
                            Message Seller
                        </button>
                        <div class="modal fade" id="messageModal" tabindex="-1" data-bs-backdrop="static"
                            aria-labelledby="messageModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-lg">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h3 class="modal-title" id="exampleModalLabel">Contact Seller</h3>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <h5 class="mb-1">Product: <%=Item[0].title%>
                                        </h5>
                                        <h5 class="mb-1">Seller: <%=Item[0].firstname + " " + Item[0].lastname%>
                                        </h5>
                                        <form method="POST"
                                            action="/messages/send?item=<%=Item[0].idItems%>&receiver=<%=Item[0].seller%> ">
                                            <div class="my-3">
                                                <label for="messageTextarea" class="form-label">Custom Message:</label>
                                                <textarea class="form-control" name="message" id="messageTextarea"
                                                    placeholder="Don't forget to send your contact info where the seller can reach you."
                                                    rows="6"></textarea>
                                            </div>
                                            <button type="submit" class="btn btn-primary">Submit</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <%- include('partials/footer') %>

            <script src="/javascripts/bootstrap.bundle.js"></script>
            <script src="/javascripts/search.js"></script>
            <script>
                let postId = document.location.pathname.match(/\d+/g).map(Number)[0];
            </script>
</body>