<!--
FILE: views/post.ejs

DESCRIPTION: Generates the post page where registered users are allowed to post items to sell.
             Registered users must fill in: title, price, description, category and image of item.

             Created by: Michael
-->
<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/post.css">
</head>

<body>
<%- include('partials/navbar', {search:"", category : 0}) %>
    <div class="container-fluid">
        <!-- Header for post page, tells users to fill out the form to post items for sale -->
        <div class="container p-3 mb-2 text-black rounded-3" id="homeHeader">
            <h1 class="text-center">Fill out the form below to post an item for sale!<br>
            </h1>
        </div>
        <div class="container" id="post_form">
            <form class="w-100" method="POST" enctype="multipart/form-data" action="/posts/createPost">
                <!-- Title of Item input -->
                <div class="row" id="rowForm">
                    <div class="col input-group">
                        <input type="text"  class="mb-3" placeholder="Title Of Item" name="itemTitle" id="titleBox" required>
                    </div>
                    <!-- Category input -->
                    <div class="col input-group input-group-sm mb-3">
                        <label class="input-group-text" for="categoryBox">Category</label>
                        <select name="category" class="form-control" id="categoryBox" required>
                            <option value="">Select a Category</option>
                            <% for(var i=0; i<Category.length;i++){%>
                                <option value=<%=Category[i].idCategories%>><%=Category[i].title%></option>
                            <%}%>
                        </select>
                    </div>
                    <!-- Price of Item input -->
                    <div class="col input-group input-group-sm mb-3">
                        <span class="input-group-text">$</span>
                        <input type="text" class="col-md-1" placeholder="0.00" name="itemPrice" id="priceBox" required>
                    </div>
                    <!-- Description of Item input -->
                    <div class="input-group mb-3">
                        <textarea class="form-control" placeholder="Description of Item" name="itemDesc" id="descriptionBox" required></textarea>
                    </div>
                </div>
                <!-- Image input -->
                <div class="mb-3" id="image_form">
                    <div>
                        <label for="image_uploads" class="style">Choose images to upload (PNG, JPG)</label>
                        <input type="file" class="style" id="image_uploads" name="itemImage" accept=".jpg, .jpeg, .png" multiple required>
                    </div>
                    <div class="preview">
                        <p>No files currently selected for upload</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-2" id="post_button_div">
                        <button class="style">
                            Post
                        </button>
                    </div>
                    <div class="col">
                        <h2>It will take up to 24 hours for your post to be approved.</h2>
                    </div>
                </div>

            </form>
        </div>
    </div>

    <%- include('partials/footer') %>

    <script src="/javascripts/bootstrap.bundle.js"></script>
    <script src="/javascripts/search.js"></script>
    <script src="/javascripts/previewImage.js"></script>
</body>