<!--
FILE: views/post.ejs

DESCRIPTION: Generates the post page where registered users are allowed to post items to sell.
             Registered users must fill in: title, price, description, category and image of item.
-->
<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/post.css">
</head>

<body>
<%- include('partials/navbar', {search:"", category : 0}) %>
    <!-- Header for post page, tells users to fill out the form to post items for sale -->
    <div class="container-fluid" id="homeContainer">
        <div class="container">
            <div class="border border-4 border-dark p-3 mb-2 bg-dark text-white rounded-3" id="homeHeader">
                <h1 class="text-center">Fill out the form below to post an item for sale!<br>
                </h1>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="container w-50" id="post_form">
            <form method="post" enctype="multipart/form-data" class="w-100">
                <!-- Category input -->
                <div class="input-group mb-3">
                    <label class="input-group-text" for="inputGroupSelect01">Category</label>
                    <select class="form-select" id="inputGroupSelect01" required>
                        <option value="">Choose...</option>
                        <% for(var i=0; i<Category.length;i++){%>
                            <option value=<%=Category[i].title%>><%=Category[i].title%></option>
                        <%}%>
                    </select>
                </div>
                <!-- Title of Item input -->
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Title Of Item" name="itemTitle" required>
                </div>
                <!-- Price of Item input -->
                <div class="input-group mb-3">
                    <span class="input-group-text">$</span>
                    <input type="text" class="form-control" placeholder="0.00" name="itemPrice" required>
                </div>
                <!-- Description of Item input -->
                <div class="input-group mb-3">
                    <textarea class="form-control" placeholder="Description of Item" name="itemPrice" required></textarea>
                </div>
                <!-- Image input -->
                <div class="mb-3" id="image_form">
                    <div>
                        <label for="image_uploads" class="style">Choose images to upload (PNG, JPG)</label>
                        <input type="file" class="style" id="image_uploads" name="image_uploads" accept=".jpg, .jpeg, .png" multiple>
                    </div>
                    <div class="preview">
                        <p>No files currently selected for upload</p>
                    </div>
                </div>
                <div id="post_button_div">
                    <button class="style">Post</button>
                </div>

            </form>
        </div>
    </div>

    <%- include('partials/footer') %>

    <script src="/javascripts/bootstrap.bundle.js"></script>
    <script src="/javascripts/search.js"></script>
    <script src="/javascripts/previewImage.js"></script>
</body>