<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
</head>

<body>
  <%- include('partials/navbar') %>

    <div class="container-fluid" id="homeContainer">
      <div class="container">
        <div class="d-flex justify-content-between mb-5">
          <div>
            <% if(results) { %>
              <p>Showing <%= results.length %> out of <%= total %> items.</p>
            <% } else { %>
              <p>Showing 0 out of <%= total %> items.</p>
            <% } %>
          </div>
          <div class="d-flex align-items-center w-25">
            <h4 class="w-50">Sort By:</h4>
            <select class="form-select" aria-label="Sort dropdown">
              <option selected>Default</option>
              <option value="price_inc">Price (Low to High)</option>
              <option value="price_dec">Price (High to Low)</option>
              <option value="title_inc">Title (A-Z)</option>
              <option value="title_dec">Title (Z-A)</option>
            </select>
          </div>
        </div>
        <div id="results">
          <% if(results) { %>
            <% for(var i=0; i < results.length; i++) { %>
              <% if(i % 3==0) { %>
                <div class="row mb-5">
                  <% } %>
                    <div class="col-md-4">
                      <div class="card h-100" style="width: 18rem;">
                        <img src="<%=results[i].photopath%>" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">
                            <%= results[i].title %>
                          </h5>
                          <h6 class="card-subtitle mb-2 text-muted">Category:
                            <% switch (results[i].category) { case 1: %>
                              Electronics
                              <% break; case 2: %>
                                Textbooks
                                <% break; case 3: %>
                                  Handicraft
                                  <% break; case 4: %>
                                    Education Supplies
                                    <% break; case 5: %>
                                      Food
                                      <% break; default: break; } %>
                          </h6>
                          <!-- <h6 class="card-subtitle mb-2 text-muted"><%= results[i].seller %></h6> -->
                          <p class="card-text">
                            <%= results[i].description %>
                          </p>
                          <span class="border border-primary rounded-2 px-4 pv-2 fs-5">$<%= results[i].price %></span>
                        </div>
                      </div>
                    </div>
                    <% if(i % 3==2 || i+1==results.length) { %>
                </div>
                <% } %>
                  <% } %>
                    <% } %>
        </div>
      </div>
    </div>

    <script src="/javascripts/bootstrap.bundle.js"></script>
    <script src="/javascripts/search.js"></script>
</body>

</html>