<!--
FILE: views/userPosts.ejs

DESCRIPTION: Displays the posts that the user made.

CREATED BY: Joanne
-->
<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
</head>

<body>
    <%- include('partials/navbar') %>
        <div class="flex-grow-1">
            <!-- Allows user to toggle between their Posts and Messages -->
            <ul class="nav justify-content-evenly">
                <li class="nav-item">
                    <a href="/users/myPage/myPosts"
                        class="nav-link active fs-3 text-black text-decoration-underline">
                        My Posts
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/users/myPage/myMessages" class="nav-link fs-3 text-black">
                        My Messages
                    </a>
                </li>
            </ul>

            <div class="container-fluid" id="homepageCategory">
                <div class="container">
                    <div class="row row-cols-1 row-cols-md-4 g-4">
                        <% for(let i=0; i < Items.length; i++) { %>
                            <div class="col">
                                <div class="card h-100" style="width: 18rem;">
                                    <a href="/dp?id=<%=Items[i].idItems%>"><img src="/<%=Items[i].thumbnail%>"
                                            class="card-img-top" alt="..."></a>
                                    <div class="card-body">
                                        <h5 class="card-title">
                                            <%=Items[i].title%>
                                        </h5>
                                        <p class="card-text">
                                            <%=Items[i].description%>
                                        </p>
                                    </div>
                                    <div class="card-footer d-flex justify-content-between">
                                        <div>
                                            <h3 class="m-0"><b>$<%=Items[i].price.toFixed(2)%></b></h3>
                                        </div>
                                        <a href="/users/delete?id=<%=Items[i].idItems%>" class="btn btn-danger btn-sm">
                                            Delete
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <% } %>
                    </div>
                </div>
            </div>

        </div>
        <%- include('partials/footer') %>
            <script src="/javascripts/bootstrap.bundle.js"></script>
            <script src="/javascripts/search.js"></script>
</body>

</html>